.sign-in {
    grid-row:  content-s/content-e;
    grid-column: s/e;

    .sign-in-form {
        display: grid;
        grid-template-rows: [email-s] 64px [email-e password-s] 64px
            [password-e] minmax(20px, 289px) [line-s] 2px [line-e login-s] 38px
            [login-e];
    }
}

.sign-in-form {
    &-email {
        grid-row: email-s/email-e
    }

    &-password {
        margin-top: 15px;
        grid-row: password-s/password-e
    }

    .sign-in-form-line {
        grid-row: line-s/line-e;
        border-top: 1px solid #ccc;
        grid-column: 1/-1
        
    }
    
    &-login {
        margin-top: 39px;
        grid-row: login-s/login-e
    }

    .details {
        grid-row: 1/-1;
        justify-self: end;
        align-self: start;
    }
}
